<section class="container">
  <button  (click)="back()" color="primary" mat-button *ngIf="pokemon?.id">
    <mat-icon aria-hidden="false" aria-label="back icon"></mat-icon>
    Back
  </button>
  <mat-card *ngIf="pokemon?.id; else loading">
      <div class="card-header">
        <h2>{{pokemon?.name}}</h2>
        <mat-card-subtitle class="supertypes">{{pokemon?.supertype}} - {{pokemon?.subtype}}</mat-card-subtitle>
        <mat-card-subtitle># {{pokemon?.id}}</mat-card-subtitle>
      </div>  <!-- header  -->

      <div class="card-image">
        <img matCardImage  style="width: 350px!important;" [src]="pokemon?.imageUrl" [alt]="pokemon?.name">
      </div> <!-- image  -->

        <div class="card-content">

            <div *ngIf="pokemon?.text && pokemon?.supertype != 'Pokémon'" class="group">
              <span>Descricao</span>
              <span>{{pokemon?.text}}</span>
            </div>

            <div *ngIf="pokemon?.types" class="group group-type">
              <span>Tipo</span>
              <div class="type" *ngFor="let type  of pokemon?.types">
                <div [matTooltip]="type" matTooltipPosition="right" [className]="'cost-icon ' + type | lowercase">{{type | lowercase }}</div>
              </div>
            </div>

            <div class="group">
              <div class="label-title" *ngIf="pokemon?.attacks">Ataques</div>
              <div *ngFor="let attack of pokemon?.attacks">
                <div class="group cost">
                  <span>Custo:</span>
                  <div [matTooltip]="cost" matTooltipPosition="right" [className]="'cost-icon ' + cost.toLowerCase()"
                    class="cost-icon" *ngFor="let cost of attack?.cost"> {{ cost }} </div>
                </div>
                <div class="group">
                  <span>Ataque:</span>
                  <span>{{attack?.name}}</span>
                </div>
                <div class="group">
                  <span>Descricao:</span>
                  <span>{{attack?.text || ' --- '}}</span>
                </div>
                <div class="group">
                  <span>Dano:</span>
                  <span>{{attack?.damage || 0}}</span>
                </div>
                <hr>
              </div>
            </div>

            <div class="group-end">

              <span class="group group-type" *ngIf="pokemon?.resistances">
                <span>Resistencias</span>
                <div class="group-type" *ngFor="let resistance of pokemon?.resistances">
                <div [matTooltip]="resistance?.type" matTooltipPosition="right" [className]="'cost-icon ' + resistance?.type | lowercase">{{resistance?.type | lowercase}}</div>
                <span class="badge"> {{resistance?.value}}</span>
                </div>
              </span>

              <span class="group group-type" *ngIf="pokemon?.weaknesses">
                <span>Fraquezas   </span>
                <div class="group-type" *ngFor="let weakness of pokemon?.weaknesses">
                <div [matTooltip]="weakness?.type" matTooltipPosition="right" [className]="'cost-icon ' + weakness?.type | lowercase">{{weakness?.type | lowercase}}</div>
                <span class="badge"> {{weakness?.value}}</span>
                </div>
              </span>

            </div>
        </div> <!-- content  -->

  </mat-card>
  <ng-template #loading>
    <p>carregando...</p>
  </ng-template>

</section>
