<app-pokemon-bar></app-pokemon-bar>
<section class="container" *ngIf="pokemons$ | async as pokemons; else loading">
  <div class="grid" >

    <mat-card  *ngFor="let pokemon of pokemons">
      <a class="link-card" [routerLink]="pokemon.id" [state]="{ hello: 'world' }">

        <div class="mat-card-img">
          <img [src]="pokemon.imageUrl" [alt]="pokemon.name">
        </div>


        <mat-card-content>
          <mat-card-title><span>#{{ pokemon.id }}</span>{{ pokemon.name }}</mat-card-title>
           <p *ngIf="pokemon.types">
             <span>Tipo:</span>
             <span class="mat-card-pills">{{ pokemon.types }}</span>
           </p>
        </mat-card-content>

      </a>
    </mat-card>

  </div>

  <mat-card-content *ngIf="!pokemons.length">Nenhum resultado encontrado</mat-card-content>
  <mat-paginator *ngIf="pokemons.length" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePaginator($event)" [hidePageSize]="true" [pageIndex]="currentPage-1"></mat-paginator>

</section>

<ng-template #loading>
  <div class="container content" >
    <div class="grid" >

      <mat-card *ngFor="let i of [].constructor(4)">

        <div class="mat-card-img"></div>

        <mat-card-content>
          <mat-card-title><span></span></mat-card-title>
          <p></p>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</ng-template>


