$fontFamily:  'Poppins', sans-serif;
$fontTitle: 'Permanent Marker', cursive;


$blue-dark: #3c4858;
$purple-dark: #554c6d;
$purple: #673ab7;
$gray-lightened: #d8d2d2;
$gray-light: #d8d2d2;

$colorless: #ece8dc;
$darkness: #183352;
$dragon: #a6891e;
$fairy: #c7589e;
$fighting: #d85c3a;
$fire: #ea2a1f;
$grass: #1d932a;
$lightning: #f7df0d;
$metal: #899098;
$psychic: #7c3b8f;
$water: #2a8ed9;


$fontBold: 700;
$fontRegular: 400;
$fontThin: 300;

$fontLG: 1.6rem;
$fontMD: 1.4rem;
$fontSM: 1.2rem;
$fontDefault: 1rem;

$tablet: 768px;
$desktop: 1024px;

